html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #f3f3f3;
  background-color: #212529;
  font-family: "Poppins", sans-serif;
}

.background {
  background-image: url(background.jpg);
  background-size: cover;
  opacity: 0.04;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -500;
}

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #808080;
  padding: 20px;
  background-color: #343a40;
  text-align: center;
  color: #b1b1b1;
}

/*This CSS rule helps with container scrolling in small screens */
.copyright-spacing {
  width: 100%;
  height: 100px;
}

#root {
  z-index: 2;
  position: relative;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 15px;
  border-bottom: 1px solid #808080;
}

.navbar-brand {
  text-align: center;
}

.navbar-brand i {
  font-size: 14px;
  color: gray;
  margin-top: -2px;
  display: block;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.45;
}

.logout {
  margin: 0 auto;
  margin-top: 20px !important;
  display: block;
  color: #f3f3f3 !important;
}

form {
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

a,
.navbar-nav a,
.navbar-brand a {
  margin-left: 15px;
  border-radius: 3px;
  padding: 15px;
  color: #f3f3f3;
  transition: 1s;
}

a:hover {
  text-decoration: none;
  color: #5d7c8d;
}

a,
.navbar-brand a {
  margin-left: 0;
  padding: 0;
}

.navbar-brand a:hover {
  text-decoration: none;
}

.navbar-nav a:hover {
  text-decoration: none;
  background-color: #506272;
}

.nav-link-active {
  border: 1px solid #5d7c8d;
  color: #f3f3f3;
}

.card-img-top {
  margin: 0 auto;
  width: 240px;
}

.card {
  background: #343a40;
  border-radius: 4px;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #808080;
}

.card-title {
  margin-bottom: 0;
}

.centered.card,
.centered {
  text-align: center;
}

.bottom-margin {
  margin-bottom: 20px;
}

a.btn,
.btn {
  width: 200px;
  margin: 0 auto;
  border: 1px solid #5d7c8d !important;
  transition: 0.3s;
}

.alert {
  border-radius: 2px;
}

.alert-warning {
  background: transparent;
  color: #f1f1f1;
  border: 1px solid #808080;
}

.alert-danger {
  background: transparent;
  color: #f4bbc4;
  border: 1px solid #e28593;
  text-align: center;
  border-color: #e28593 !important;
}

.alert-success {
  background: transparent;
  color: #93ba94;
  border: 1px solid #93ba94;
}

input[type="text"],
input[type="password"],
input[type="email"],
.table-container {
  background: transparent;
  border-radius: 2px;
  border: 1px solid #808080;
  color: white;
}

.borderless {
  border: 0;
}

.table-container {
  overflow-x: auto;
}

.table-container h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}

i {
  font-size: 14px;
  color: gray;
}

.error {
  border: 2px solid #f4bbc4 !important;
}

.error::placeholder {
  color: #f4bbc4;
}

.table-dark th,
.table-dark td {
  border: 0 !important;
}

.table-dark th {
  border-bottom: 1px solid #5d7c8d !important;
  background-color: #212529 !important;
}

table {
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0.9;
}

.table-container {
  padding: 5px;
  margin-top: 25px;
}

@media (max-width: 800px) {
  .card {
    margin-right: 15px;
    margin-left: 15px;
  }
}
